<a href="https://colab.research.google.com/github/sangyun03/20_10_-/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
print ("안녕하세요? 김상윤님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.")

안녕하세요? 김상윤님, 기초파이썬 강좌를 수강하신 것을 축하드립니다.

In [20]:
print ("*"*35)
print ("*제1조 1항 대한민국은 민주공화국아다.*")
print ("*"*35)

***********************************
*제1조 1항 대한민국은 민주공화국아다.*
***********************************

In [22]:
print ("Welcome python, 저는 파이썬을 좋아합니다.")

Welcome python, 저는 파이썬을 좋아합니다.

In [23]:
name=input ("이름을 입력하시오")
age=input ("나이를 입력하시오")
address=input ("주소를 입력하시오")

이름을 입력하시오김상윤
나이를 입력하시오20
주소를 입력하시오대전 중구 유천동 현대아파트

In [29]:
x='7'
y='4'
print(x+y)

74

In [28]:
name = input("성명을 입력하시오.: ")
age = input("나이를 입력하시오.: ")
addr = input("주소를 입력하시오.: ")
print(name, age, addr)
print(name)
print(age)
print(addr)

성명을 입력하시오.: 김상윤
나이를 입력하시오.: 20
주소를 입력하시오.: 대전 중구 유천동 현대아파트
김상윤 20 대전 중구 유천동 현대아파트
김상윤
20
대전 중구 유천동 현대아파트